PyFstat_example_data
__pychache__
*.pyc
test_BNU
gmm_dataset.pth

LAL_example_data/SFTs_*
mismatch_output/
lalpulsar_Makefakedata_v5-help
data/*.csv
best_flow.pt
trained_flow.pt
logs/run_20250616_101802/checkpoints/fold_1_model.pt
data/mismatches.pth

logs/run_*/checkpoints/
# Ignore all checkpoints in logs
logs/run_*/predictions/
logs/run_*/merged_predictions.csv

logs/profiled_run_*/checkpoints/
# Ignore all checkpoints in logs
logs/profiled_run_*/predictions/
logs/profiled_run_*/merged_predictions.csv
logs/bottleneck_analysis_20250616_194457/trained_model.pt
.DS_Store
default.profraw
